Checks: >
  -*,
  bugprone-*,
  cert-*,
  -cert-err58-cpp,
  clang-analyzer-*,
  cppcoreguidelines-c*,
  cppcoreguidelines-f*,
  cppcoreguidelines-pro-*,
  cppcoreguidelines-s*,
  misc-*,
  -misc-definitions-in-headers,
  -misc-use-internal-linkage,
  -misc-use-anonymous-namespace,
  modernize-*,
  -modernize-use-trailing-return-type,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers
